{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": "off",
    "quotes": "off",
    "comma-dangle": "off"
  }
}
